<div class="container">
    <h2 class="p-4 text-center">Este es el componente noticias</h2>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 p-5 text-justify" *ngFor="let n of noticias">
            <h2 class="" *ngIf="n.title">{{n.title}}</h2>
            <h2 class="" *ngIf="!n.title">Titulo no disponible</h2>
            <small class="font-italic" *ngIf="n.description">{{n.description}}</small>
            <small class="font-italic" *ngIf="!n.description"></small>
            <hr>
            <h6 class="" *ngIf="n.author">{{n.author}}</h6>
            <h6 class="" *ngIf="!n.author"></h6>
            <p class="mt-4" *ngIf="n.content">{{n.content}}</p>
            <p class="mt-4" *ngIf="!n.content">Contenido no disponible</p>
            <a class="" *ngIf="n.url" href="{{n.url}}">Más</a>
            <a class="" *ngIf="!n.url" href="#"></a>
        </div>
    </div>
</div>

